---
import '../styles/tokens.css';
import '../styles/fonts.css';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>AISaEOS</title>
	</head>
	<body>
		<h1>AISaEOS</h1>
	</body>
</html>
